aiocache==0.11.1 ; python_version >= "3.10" and python_version < "4.0"
aiofiles==23.2.1 ; python_version >= "3.10" and python_version < "4.0"
aiohttp-socks==0.8.4 ; python_version >= "3.10" and python_version < "4.0"
aiohttp==3.8.5 ; python_version >= "3.10" and python_version < "4.0"
aiohttp[socks]==3.8.5 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
aiosqlite==0.17.0 ; python_version >= "3.10" and python_version < "4.0"
alembic==1.9.4 ; python_version >= "3.10" and python_version < "4.0"
amis-python==1.0.8.post2 ; python_version >= "3.10" and python_version < "4.0"
anyio==3.7.0 ; python_version >= "3.10" and python_version < "4.0"
anyio[trio]==3.7.0 ; python_version >= "3.10" and python_version < "4.0"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "4.0"
apscheduler==3.9.1.post1 ; python_version >= "3.10" and python_version < "4"
arclet-alconna-tools==0.6.8 ; python_version >= "3.10" and python_version < "4.0"
arclet-alconna==1.7.37 ; python_version >= "3.10" and python_version < "4.0"
arrow==1.2.3 ; python_version >= "3.10" and python_version < "4.0"
async-bing-client==0.1.6 ; python_version >= "3.10" and python_version < "4.0"
async-claude-client==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
async-generator==1.10 ; python_version >= "3.10" and python_version < "4.0"
async-poe-client==0.3.6 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "4.0"
asyncio==3.4.3 ; python_version >= "3.10" and python_version < "4.0"
attrs==22.2.0 ; python_version >= "3.10" and python_version < "4.0"
bbcode==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
bcrypt==4.0.1 ; python_version >= "3.10" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_version < "4.0"
bidict==0.22.1 ; python_version >= "3.10" and python_version < "4.0"
binaryornot==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
bingimagecreator==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
bs4==0.0.1 ; python_version >= "3.10" and python_version < "4.0"
cachetools==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
cashews==6.3.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.11.17 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
chevron==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.10" and python_version < "4.0"
cn2an==0.5.17 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
contourpy==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
cookiecutter==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
cssselect==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
curl-cffi==0.5.9 ; python_version >= "3.10" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
dateparser==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
distlib==0.3.7 ; python_version >= "3.10" and python_version < "4.0"
dnspython==2.4.2 ; python_version >= "3.10" and python_version < "4.0"
easyprocess==1.1 ; python_version >= "3.10" and python_version < "4.0"
ecdsa==0.18.0 ; python_version >= "3.10" and python_version < "4.0"
edgegpt==0.2.1 ; python_version >= "3.10" and python_version < "4.0"
emoji==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
entrypoint2==1.1 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
expandvars==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
expiringdict==1.2.2 ; python_version >= "3.10" and python_version < "4.0"
faker==16.4.0 ; python_version >= "3.10" and python_version < "4.0"
fastapi-login==1.9.1 ; python_version >= "3.10" and python_version < "4.0"
fastapi==0.101.1 ; python_version >= "3.10" and python_version < "4.0"
feedparser==6.0.10 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.13.1 ; python_version >= "3.10" and python_version < "4.0"
filetype==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
fonttools==4.45.0 ; python_version >= "3.10" and python_version < "4.0"
frozenlist==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
fuzzywuzzy==0.18.0 ; python_version >= "3.10" and python_version < "4.0"
gitdb==4.0.11 ; python_version >= "3.10" and python_version < "4.0"
githubkit==0.9.6 ; python_version >= "3.10" and python_version < "4.0"
gitpython==3.1.29 ; python_version >= "3.10" and python_version < "4.0"
greenlet==1.1.3 ; python_version >= "3.10" and python_version < "4.0"
h11==0.12.0 ; python_version >= "3.10" and python_version < "4.0"
h2==4.1.0 ; python_version >= "3.10" and python_version < "4.0"
hpack==4.0.0 ; python_version >= "3.10" and python_version < "4.0"
httpcore==0.15.0 ; python_version >= "3.10" and python_version < "4.0"
httptools==0.6.1 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.24.1 ; python_version >= "3.10" and python_version < "4.0"
httpx[http2]==0.24.1 ; python_version >= "3.10" and python_version < "4.0"
humanize==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
hyperframe==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
imgkit==1.2.3 ; python_version >= "3.10" and python_version < "4.0"
importlib-metadata==4.12.0 ; python_version >= "3.10" and python_version < "4.0"
importlib-resources==6.1.1 ; python_version >= "3.10" and python_version < "4.0"
iso8601==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
jieba==0.42.1 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
joblib==1.3.2 ; python_version >= "3.10" and python_version < "4.0"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "4.0"
langdetect==1.0.9 ; python_version >= "3.10" and python_version < "4.0"
loguru==0.7.2 ; python_version >= "3.10" and python_version < "4.0"
lxml==4.9.1 ; python_version >= "3.10" and python_version < "4.0"
mako==1.2.4 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
markdown==3.4.4 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "4.0"
matplotlib==3.6.2 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
meme-generator==0.0.17 ; python_version >= "3.10" and python_version < "4.0"
msgpack==1.0.7 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "4.0"
nb-cli==1.1.2 ; python_version >= "3.10" and python_version < "4.0"
nepattern==0.5.15 ; python_version >= "3.10" and python_version < "4.0"
nonebot-adapter-onebot==2.2.3 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-alconna==0.27.2 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-apscheduler==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-bind==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-chatrecorder==0.4.2 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-datastore==1.1.2 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-gocqhttp==0.6.10 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-guild-patch==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-htmlrender==0.2.1 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-localstore==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-send-anything-anywhere==0.3.2 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-session==0.1.0 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-templates==0.1.6 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-txt2img==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
nonebot-plugin-web-config==0.1.3 ; python_version >= "3.10" and python_version < "4.0"
nonebot2==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
nonebot2[fastapi,httpx]==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
nonebot2[fastapi]==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
nonebot2[httpx]==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
noneprompt==0.1.9 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.23.4 ; python_version >= "3.10" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "4.0"
openai==0.27.0 ; python_version >= "3.10" and python_version < "4.0"
opencv-python-headless==4.8.1.78 ; python_version >= "3.10" and python_version < "4.0"
orjson==3.9.0 ; python_version >= "3.10" and python_version < "4.0"
outcome==1.3.0.post0 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.10" and python_version < "4.0"
paho-mqtt==1.6.1 ; python_version >= "3.10" and python_version < "4.0"
pandas==1.5.2 ; python_version >= "3.10" and python_version < "4.0"
parsel==1.7.0 ; python_version >= "3.10" and python_version < "4.0"
passlib[bcrypt]==1.7.4 ; python_version >= "3.10" and python_version < "4.0"
patool==1.12 ; python_version >= "3.10" and python_version < "4.0"
peewee==3.15.3 ; python_version >= "3.10" and python_version < "4.0"
pil-utils==0.1.8 ; python_version >= "3.10" and python_version < "4.0"
pillow==10.1.0 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==2.6.2 ; python_version >= "3.10" and python_version < "4.0"
playwright==1.27.1 ; python_version >= "3.10" and python_version < "4.0"
proces==0.1.7 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.41 ; python_version >= "3.10" and python_version < "4.0"
psutil==5.9.4 ; python_version >= "3.10" and python_version < "4.0"
py-cpuinfo==9.0.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pydantic==1.10.13 ; python_version >= "3.10" and python_version < "4.0"
pydantic[dotenv]==1.10.13 ; python_version >= "3.10" and python_version < "4.0"
pyee==8.1.0 ; python_version >= "3.10" and python_version < "4.0"
pyfiglet==0.8.post1 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.17.2 ; python_version >= "3.10" and python_version < "4.0"
pygtrie==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
pyjwt==2.6.0 ; python_version >= "3.10" and python_version < "4.0"
pymdown-extensions==10.4 ; python_version >= "3.10" and python_version < "4.0"
pymongo==4.3.2 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "4.0"
pypika-tortoise==0.1.6 ; python_version >= "3.10" and python_version < "4.0"
pypinyin==0.47.1 ; python_version >= "3.10" and python_version < "4"
python-a2s==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
python-engineio==4.8.0 ; python_version >= "3.10" and python_version < "4.0"
python-jose==3.3.0 ; python_version >= "3.10" and python_version < "4.0"
python-markdown-math==0.8 ; python_version >= "3.10" and python_version < "4.0"
python-multipart==0.0.6 ; python_version >= "3.10" and python_version < "4.0"
python-slugify==8.0.1 ; python_version >= "3.10" and python_version < "4.0"
python-socketio==5.7.2 ; python_version >= "3.10" and python_version < "4.0"
python-socks[asyncio]==2.4.3 ; python_version >= "3.10" and python_version < "4.0"
pytz==2022.6 ; python_version >= "3.10" and python_version < "4.0"
pyunpack==0.3 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
qrcode==7.3.1 ; python_version >= "3.10" and python_version < "4.0"
rarfile==4.0 ; python_version >= "3.10" and python_version < "4.0"
rcon==2.3.9 ; python_version >= "3.10" and python_version < "4.0"
regex==2023.10.3 ; python_version >= "3.10" and python_version < "4.0"
requests-oauthlib==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.10" and python_version < "4"
rich==13.7.0 ; python_version >= "3.10" and python_version < "4.0"
rply==0.7.8 ; python_version >= "3.10" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.10" and python_version < "4"
rtoml==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
ruamel-yaml-clib==0.2.7 ; python_version >= "3.10" and python_version < "4.0"
ruamel-yaml==0.17.21 ; python_version >= "3.10" and python_version < "4.0"
scikit-learn==1.1.3 ; python_version >= "3.10" and python_version < "4.0"
scipy==1.11.4 ; python_version >= "3.10" and python_version < "4.0"
setuptools==69.0.2 ; python_version >= "3.10" and python_version < "4"
sgmllib3k==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
shapely==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
simple-websocket==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4"
slack-sdk==3.25.0 ; python_version >= "3.10" and python_version < "4.0"
smmap==5.0.1 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==2.0.9 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy[aiosqlite]==2.0.9 ; python_version >= "3.10" and python_version < "4.0"
srctools==2.3.13 ; python_version >= "3.10" and python_version < "4.0"
starlette==0.27.0 ; python_version >= "3.10" and python_version < "4.0"
strenum==0.4.15 ; python_version >= "3.10" and python_version < "4.0"
tarina==0.4.2 ; python_version >= "3.10" and python_version < "4.0"
text-unidecode==1.3 ; python_version >= "3.10" and python_version < "4.0"
threadpoolctl==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
tiktoken==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
tinydb==4.7.0 ; python_version >= "3.10" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.12.3 ; python_version >= "3.10" and python_version < "4.0"
tortoise-orm==0.19.2 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.64.1 ; python_version >= "3.10" and python_version < "4.0"
trio==0.21.0 ; python_version >= "3.10" and python_version < "4.0"
tweepy==4.14.0 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4" and platform_system == "Windows"
tzlocal==5.2 ; python_version >= "3.10" and python_version < "4"
ujson==5.5.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==1.26.12 ; python_version >= "3.10" and python_version < "4"
uvicorn==0.23.2 ; python_version >= "3.10" and python_version < "4.0"
uvicorn[standard]==0.23.2 ; python_version >= "3.10" and python_version < "4.0"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "4.0"
virtualenv==20.17.1 ; python_version >= "3.10" and python_version < "4.0"
w3lib==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
watchfiles==0.21.0 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.12 ; python_version >= "3.10" and python_version < "4.0"
websockets==12.0 ; python_version >= "3.10" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
wordcloud==1.8.2.2 ; python_version >= "3.10" and python_version < "4.0"
wsproto==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.9.3 ; python_version >= "3.10" and python_version < "4.0"
zipp==3.17.0 ; python_version >= "3.10" and python_version < "4.0"
